{% extends "base.html" %}

{% block content %}
  {% if page.url_to_print_page %}
  <a href="{{ page.url_to_print_page }}" title="Print Site" class="md-content__button md-icon">
    {% include ".icons/material/printer.svg" %}
  </a>
  {% endif %}
  {% if page.url_to_pdf %}
  <a href="{{ page.url_to_pdf }}" title="Site PDF" class="md-content__button md-icon">
    {% include ".icons/material/file-pdf-box.svg" %}
  </a>
  {% endif %}

  {{ super() }}

  {% block comments %}
    <!-- Giscus -->
    <script src="https://giscus.app/client.js" data-repo="Uuvana-Studios/longvinter-server-documentation" data-repo-id="R_kgDOG5V-6Q" data-category="Announcements" data-category-id="DIC_kwDOG5V-6c4CODom" data-mapping="pathname" data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="preferred_color_scheme" data-lang="en" crossorigin="anonymous" async></script>

    <!-- Reload on palette change -->
    <script>
      var palette = __md_get("__palette")
      if (palette && typeof palette.color === "object")
         if (palette.color.scheme === "slate") {
           var giscus = document.querySelector("script[src*=giscus]")
           giscus.setAttribute("data-theme", "dark") 
         }

      /* Register event handlers after documented loaded */
      document.addEventListener("DOMContentLoaded", function() {
         var ref = document.querySelector("[data-md-component=palette]")
        ref.addEventListener("change", function() {
           var palette = __md_get("__palette")
           if (palette && typeof palette.color === "object") {
             var theme = palette.color.scheme === "slate" ? "dark" : "light"

             /* Instruct Giscus to change theme */
            var frame = document.querySelector(".giscus-frame")
            frame.contentWindow.postMessage({ giscus: { setConfig: { theme } } }, "https://giscus.app")
           }
         })
        })
      </script>
    {% endblock %}

{% endblock content %}
